# If Else and Elif Practice
## Name: Zaheer Khan
## Submitted to: Sir Qasim

## Question # 01
A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of
service and print the net bonus amount.

In [5]:
salary = int(input("Enter your salary "))
service_year = int(input("Enter your service year "))
if (service_year > 5) :
    bonus = (salary/100)*5
    print("Congratulations your bonus is =" + bonus)
else:
    print("Sorry you don't have bonus....")

Enter your salary 45000
Enter your service year 8

TypeError: can only concatenate str (not "float") to str